* {
    margin: 0;
    padding: 0;
    

}


.divBar {
    height: 200px;
    width: 100%;
    background-image: url(../images/truco2-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    /* background-color: #33CCFF; */
    background-color: #484848;

    
    
}

.divBar > div > button {
    margin: 0 0 40px 40px;
    width: 100px;
    height: 40px;
    background-color:#F0F0F0;
    
}
.mainTable {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    background-image: url(../images/fundo.jpg);
    text-align: center;

    
}

.mainTable > div {
    width: 33.3%;
}

.card1-player1 {
    width:100px;
    height:250px;
    margin:10px;
    font-size:64px;
    background-size: cover;

      
}
.card2-player1 {
    width:100px;
    height:250px;
    margin:10px;

    font-size:64px;
    background-size: cover;
      
}

.card3-player1 {
    width:100px;
    height:250px;
    margin:10px;

    font-size:64px;
    background-size: cover;
      
}

.card1-player2 {
    width:100px;
    height:250px;
    margin:10px;
    font-size:64px;
    background-size: cover;
      
}
.card2-player2 {
    width:100px;
    height:250px;
    margin:10px;

    font-size:64px;
    background-size: cover;
        
  }
.card3-player2 {
    width:100px;
    height:250px;
    margin:10px;

    font-size:64px;
    background-size: cover;
        
}
  
#cards-player2 {
    width:100px;
    height:250px;
    margin:10px;

    font-size:64px;
    background-size: cover;
      
  }

#player1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: top;
    color: white;
    
}

#player2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: top;
    color: white;
    
}

#table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
#table > div {
    background-size: cover;
}

#table-player1 {
    position: fixed;
    right: 55%;
    top: 450px;
    
}

#table-player2 {
    position: fixed;
    right: 45%;
    top: 450px;
    
}


.card-table-player1{
    width:100px;
    height:250px;

}
.card-table-player2{
    width:100px;
    height:250px;
}

#table-players {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}


.score-players {
    
    margin-left: 50px;
    border: 1px solid #787878;
    padding-left: 10px;
    padding-right: 10px;
    color: white
}

.player-turn {
    
    margin-left: 50px;
    border: 1px solid#787878;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.back{
    width:100px;
    height:250px;
    background-image: url(../images/back.jpg)!important;
}

.back-turn{
    position: fixed;
    width:100px;
    height:250px;
    background-image: url(../images/back.jpg)!important;
    background-repeat: no-repeat;
    right: 48%;
    margin-top: 10px;
    
}
.card-turn{
    position: fixed;
    right: 50%;
    width:100px;
    height:250px;
    margin-top: 10px;
}

#footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 140px;
    background-image: url(../images/fundo.jpg);
    

}

.button-footer {
    width: 100px;
    height: 40px;
}

.disabled {
    background-color: grey;
    color: #2F4F4F;
}

.winner {
    font-size: 80px;
}
    

