* {
    margin: 0;
    padding: 0;
    

}

body {
    
    
}

.divBar {
    height: 200px;
    width: 100%;
    background-image: url(../images/banner_historia-do-truco.png);
    background-repeat: repeat;
    background-position: top;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    
    
}

.divBar > div > button {
    margin: 0 0 40px 40px;
    width: 100px;
    height: 40px;
}
.mainTable {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    background-image: url(../images/fundo.jpg);
    text-align: center;
    text
    
}

.mainTable > div {
    width: 33.3%;
}

.cards {
  width:189px;
  height:271px;
  margin:10px;
  padding:20px;
  font-size:64px;
  background-size: cover;
    
}
.cards .back {
    background-color: #456783;
}
.cards .front {
    position:absolute;
    left:0;top:0;
    transform:rotateY(-180deg) translateZ(1px); backface-visibility:hidden;
  }

.cards.turned {pointer-events:none;}

.cards.turned .front {transform:rotateY(0deg);}
.cards.turned .back {transform:rotateY(180deg)}

#card1-player1 {
    width:189px;
    height:271px;
    margin:10px;
    padding:20px;
    font-size:64px;
    background-size: cover;
      
}
#card2-player1 {
    width:189px;
    height:271px;
    margin:10px;
    padding:20px;
    font-size:64px;
    background-size: cover;
      
}

#card0-player2 {
    width:189px;
    height:271px;
    margin:10px;
    padding:20px;
    font-size:64px;
    background-size: cover;
      
}
#card1-player2 {
      width:189px;
      height:271px;
      margin:10px;
      padding:20px;
      font-size:64px;
      background-size: cover;
        
  }
#card2-player2 {
      width:189px;
      height:271px;
      margin:10px;
      padding:20px;
      font-size:64px;
      background-size: cover;
        
}
  
#cards-player2 {
    width:189px;
    height:271px;
    margin:10px;
    padding:20px;
    font-size:64px;
    background-size: cover;
      
  }

#player1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: top;
    
}

#player2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: top;
    
}

#table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#table > div {
    background-size: cover;
}

#table-player1 {

}
.card-turn {
    width:50px;
    height:100px;
}

.card-table-player1{
        
    width:50px;
    height:50px;

}
.card-table-player2{
        
    width:50px;
    height:50px;

    
    background-size: cover;
}
#table-players {
    display: flex;
    flex-direction: row;

    
}

.score-players {
    color: white;
    margin-left: 200px;
}

.player-turn {
    color: white;
    margin-left: 200px;
}