* {
    margin: 0;
    padding: 0;
    

}


.divBar {
    height: 200px;
    width: 100%;
    background-image: url(../images/banner_historia-do-truco.png);
    background-repeat: repeat;
    background-position: top;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    
    
}

.divBar > div > button {
    margin: 0 0 40px 40px;
    width: 100px;
    height: 40px;
}
.mainTable {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    background-image: url(../images/fundo.jpg);
    text-align: center;
    text
    
}

.mainTable > div {
    width: 33.3%;
}

.cards {
width:100px;
height:250px;
margin:10px;
padding:20px;
font-size:64px;
background-size: cover;
    
}


.card1-player1 {
    width:100px;
    height:250px;
    margin:10px;

    font-size:64px;
    background-size: cover;

      
}
.card2-player1 {
    width:100px;
    height:250px;
    margin:10px;

    font-size:64px;
    background-size: cover;
      
}

.card3-player1 {
    width:100px;
    height:250px;
    margin:10px;

    font-size:64px;
    background-size: cover;
      
}

.card1-player2 {
    width:100px;
    height:250px;
    margin:10px;
    font-size:64px;
    background-size: cover;
      
}
.card2-player2 {
    width:100px;
    height:250px;
    margin:10px;

    font-size:64px;
    background-size: cover;
        
  }
.card3-player2 {
    width:100px;
    height:250px;
    margin:10px;

    font-size:64px;
    background-size: cover;
        
}
  
#cards-player2 {
    width:100px;
    height:250px;
    margin:10px;

    font-size:64px;
    background-size: cover;
      
  }

#player1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: top;
    
}

#player2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: top;
    
}

#table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#table > div {
    background-size: cover;
}

#table-player1 {
    position: fixed;
    right: 55%;
    top: 450px;
}

#table-player2 {
    position: fixed;
    right: 45%;
    top: 450px;
}


.card-table-player1{
        
    width:50px;
    height:50px;

}
.card-table-player2{
        
    width:50px;
    height:50px;

    
    background-size: cover;
}
#table-players {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}


.score-players {
    color: white;
    margin-left: 200px;
}

.player-turn {
    color: white;
    margin-left: 200px;
}

.back{
    width:100px;
    height:250px;
    background-image: url(../images/back.jpg)!important;
}

.back-turn{
    position: fixed;
    width:100px;
    height:250px;
    background-image: url(../images/back.jpg)!important;
    background-repeat: no-repeat;
    right: 48%;
    margin-top: 10px;
    
}
.card-turn{
    position: fixed;
    right: 50%;
    width:100px;
    height:250px;
    margin-top: 10px;
}

#cardturn {

    
}

